# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts
.gradle/
.gradle/4.3/fileHashes/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files
.classpath
.project
.settings/

README.html

